@import "../../sass/settings/fonts";
@import "../../sass/settings/colors";
@import "../../sass/settings/mixins";

.contact {
  width: 100%;
  height: 982px;


  &__container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    &::after{
      content: '';
      display: block;
      position: absolute;
      opacity: 0.2;
      height: 100%;
      width: 100%;
      background-image: url("../../assets/Background Image.png");
      background-size: cover;
    }
  }

  &__content {
    width: 100%;
    max-width: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6%;
    height: 500px;
    padding-top: 200px;
    @include mobile{
      margin-right: unset;
    }
  }

  &__header {
    font-size: 38px;
    font-family: $font-base;
    padding-bottom: 96px;
    text-align: center;


    &::after {
      content: url("../../assets/Decoration.svg");
      display: flex;
      justify-content: center;
      position: relative;
      bottom: -28px;
    }
  }
  .contact__success{
    color: green;
    font-size: 25px;
    font-family: $font-base;
    width: 80%;
    text-align: center;
    position: relative;
    top: -41px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;

    p {
      font-family: $font-base;
      font-weight: 600;
      padding-left: 2px;
      padding-bottom: 10px;
    }
  }

  .contact__form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 528px;
    @include mobile{
      width: 90%;
      justify-content: center;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .input-name {
    width: 100%;
    max-width: 256px;
    height: 70px;
    .name-description-error {
      font-size: 13px;
      padding-top: 3px;
      color: red;
    }
    input{
      width: 100%;
      max-width: 245px;
      border: none;
      opacity: 0.5
    }
    span{
      display: block;
      height: 1px;
      width: 100%;
      margin-top: 3px;
      background: black;
    }
    .error{
      background-color: red;
    }
  }

  .input-email{
    width: 100%;
    max-width: 256px;
    height: 70px;
    .email-description-error {
      font-size: 13px;
      padding-top: 3px;
      color: red;
    }
    input{
      width: 100%;
      max-width: 245px;
      border: none;
      opacity: 0.5
    }
    span{
      display: block;
      height: 1px;
      width: 100%;
      margin-top: 3px;
      background-color: black;
    }
    .error{
      background-color: red;
    }
  }


.input-message{
  width: 100%;
  padding-top: 40px;
  .message-description-error {
    font-size: 13px;
    padding-top: 3px;
    color: red;
  }
  span{
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 3px;
    background-color: black;
  }
  .error{
    background-color: red;
  }
}





  &__textarea {
    width: 100%;
    height: 97px;
    resize: none;
    padding-bottom: 8px;
    border: none;
    opacity: 0.5;

    &::placeholder {
      font-size: 16px;
    }
  }


  &__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-btn {
      width: 100%;
      max-width: 150px;
      height: 50px;
      margin-top: 35px;
      border: 1px solid $color-dark-brown;
      background-color: unset;
      font-size: 18px;
    }
  }
}