@import "../../sass/settings/fonts";
@import "../../sass/settings/colors";

.contact {
  width: 100%;
  height: 982px;

  .container {
    max-width: 1900px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;

    .img {
      max-width: 1900px;
      margin: 0 auto;
      background-image: url("../../assets/Background Image.png");
      background-repeat: no-repeat;
      filter: opacity(0.3);
      z-index: -99;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__content {
    width: 528px;//do poprawy
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 142px;
    height: 500px;
    padding-top: 200px;
  }

  &__header {
    font-size: 38px;
    font-family: $font-base;
    padding-bottom: 96px;

    &::after {
      content: url("../../assets/Decoration.svg");
      display: flex;
      justify-content: center;
      position: relative;
      bottom: -28px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    p{
      font-family: $font-base;
      font-weight: 600;
      padding-left: 2px;
      padding-bottom: 10px;
    }

    &-desc-input {
      display: flex;
      p{
        &::after{
          content: "";
          display: block;
          width: 245px;
          height: 1px;
          background-color: black;
          position: relative;
          bottom: -31px;
        }
      }
      p:nth-last-child(1){
        padding-left: 34px;
      }
    }

    &-inputs {
      display: flex;
      justify-content: space-between;
      input{
        width: 246px;
        border: none;
        padding-bottom: 30px;
        background-color: transparent;
        &::placeholder{
          font-size: 16px;
          color: $color-placeholder;
        }
      }
      &:nth-last-child(1){
        margin-left: 16px;
      }
    }
  }

    .contact__form-desc-area{
      &::after{
        content: "";
        display: block;
        width: 531px;
        height: 1px;
        background-color: black;
        position: relative;
        bottom: -113px;
      }
    }

  &__textarea{
    width: 100%;
    height: 97px;
    resize: none;
    margin-bottom: 35px;
    border: none;
    background-color: transparent;
    &::placeholder{
      font-size: 16px;
      color: $color-placeholder;
    }
  }

  &__buttons{
    display: flex;
    justify-content: flex-end;
    &-btn{
      width: 150px;
      height: 50px;
      border: 1px solid $color-dark-brown;
      background-color: unset;
      font-size: 18px;
    }
  }
}