//.container{
//  height: 1026px;
//}
//.img {
//  max-width: 1900px;
//  margin: 0 auto;
//  background-image: url("../../assets/Background Image.png");
//  background-repeat: no-repeat;
//  filter: opacity(0.3);
//  z-index: -99;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//}