@import "../../sass/settings/fonts";

.footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  &__text{
    font-size: 18px;
    font-family: $font-base;
    display: flex;
    align-items: center;
  }
}

.footer__icons{
  width: 75px;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 142px;


  a{
    color: black;
  }
  &-insta{
    width: 30px;
    height: 30px;
    padding-left: 20px;
  }
  &-facebook{
    width: 30px;
    height: 30px;
  }
}