@import "../../sass/settings/fonts";
@import "../../sass/settings/mixins";

.footer {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  @include mobile{
    flex-direction: column-reverse;
  }

  &__text{
    font-size: 18px;
    font-family: $font-base;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.footer__icons{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 6%;
  @include mobile{
    justify-content: center;
    padding-bottom: 5px;
    margin-right: 0;
  }

  a{
    color: black;
  }
  &-insta{
    width: 30px;
    height: 30px;
    padding-left: 20px;
  }
  &-facebook{
    width: 30px;
    height: 30px;
  }
}