@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";

.add-things {
  position: relative;
  display: flex;
  width: 100%;

  &__registration-btn {
    padding: 11px;
    border: 1px solid $color-yellow;
  }

  &__container {
    margin: 0 auto;
    background-image: url("../../assets/Header-Form-Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 1900px;
    height: 963px;
    display: flex;
    justify-content: flex-end;
  }


  &__start {
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    a {
      text-decoration: none;
      color: black;
    }

    .add-things__login {
      width: 100%;
      max-width: 196px;
      padding: 24px 52px 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: $color-gray;
      }
    }
    .addThingsEmail{
      max-width: 449px;
    }
    .add-things__navigation {
      width: 78%;
      height: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 52px;


      li {
        padding: 10px;

        &:hover {
          cursor: pointer;
          padding: 9px;
          border: 1px solid $color-gray;
        }
      }

    }
    .navigation__login-start{
      padding: 10px;
      &:hover {
        cursor: pointer;
        padding: 9px;
        border: 1px solid $color-gray;
      }
    }
  }

  &__give-things {
    padding-top: 19%;
    padding-right: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72%;

    h1 {
      font-size: 38px;
      line-height: 49px;
      text-align: center;
      position: relative;
      font-family: $font-base;

      &::after {
        position: relative;
        content: "";
        display: block;
        width: 256px;
        height: 30px;
        background-image: url("../../assets/Decoration.svg");
        color: black;
        background-repeat: no-repeat;
        margin: 0 auto;
        top: 30px;
      }
    }

    h2 {
      font-size: 40px;
      font-family: $font-base;
      font-weight: 300;
      padding-top: 73px;
    }
  }
}

.add-things__give-things-steps {
  display: flex;
  padding-top: 65px;
}

.rhombus {
  width: 140px;
  height: 140px;
  border: 1px solid black;
  transform: rotate(45deg);
  margin: 10px;

  &-content {
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: $font-base;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 32px;
      font-weight: 200;
      padding-bottom: 14px;
    }

    p {
      font-size: 22px;
      font-weight: 200;
      width: 105px;
    }
  }
}