@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";
@import "../../sass/settings/mixins";

.steps__form-four {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: -81px;


  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;
    background-image: url("../../assets/Background-Form.png");
    @include mobile {
      padding-left: 0;
      display: flex;
      align-items: center;
    }
  }

  &-four-header {
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    font-family: $font-base;
    padding-top: 55px;
    @include mobile {
      font-size: 30px;
      padding-bottom: 0;
      width: 90%;
    }
  }

  .top{
    padding-bottom: 10px;
  }

  &-section{
    @include mobile {
      width: 90%;
    }
  }

 &-four-things{
   display: flex;
   align-items: center;
   img{
     margin-right: 19px;
     width: 50px;
     height: 50px;
   }
   p{
     font-size: 24px;
     font-family: $font-base;
   }
 }

  &-four-localization{
    display: flex;
    align-items: center;
    padding-top: 20px;
    img{
      margin-right: 19px;
      width: 50px;
      height: 50px;
    }
    p{
      font-size: 24px;
      font-family: $font-base;
    }
  }
}

.content-courier {
  display: flex;
  padding-top: 50px;
}

.content-address-four {
  width: 100%;
  max-width: 272px;
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile{
    height: 230px;
  }



  &__header {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-base;
    padding-bottom: 20px;
    @include mobile {
      padding-bottom: 0;
      padding-top: 10px;
    }
  }

  &__data{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 104px;
      padding-right: 10px;
    }
  }
}

.form-content-data {
  display: flex;
  @include mobile {
    width: 90%;
    flex-direction: column;
  }
}


.content-term-text {
  width: 100%;
  max-width: 257px;
  height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 152px;
  @include mobile {
    padding-left: 0;
    height: 168px;
  }

  &__header {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-base;
    @include mobile{
      padding-top: 10px;
    }
  }

  &__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 104px;
      padding-right: 10px;
    }
  }
}

.content-term {

  &__header {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-base;
  }
}

.btn-next {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  @include mobile {
    margin-top: 40px;
  }
}

.btn-prev__confirm {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 50px;
  @include mobile {
    margin-right: 0;
  }
}

.steps__form-buttons {
  @include mobile {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}















