@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";
@import "../../sass/settings/mixins";

.steps__warning {
  margin-top: -80px;
  width: 100%;
  height: 179px;
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;

    @include mobile {
      padding-left: 0;
      width: 90%;
    }


    h2 {
      font-size: 36px;
      font-family: $font-base;
      font-weight: 600;
      padding-bottom: 5px;
      @include mobile {
        font-size: 30px;
      }
    }

    p {
      font-size: 22px;
      font-family: $font-base;
      @include mobile {
        font-size: 15px;
      }
    }
  }
}

//--------------------------


.steps__form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;
    background-image: url("../../assets/Background-Form.png");
    @include mobile {
      padding-left: 0;
      display: flex;
      align-items: center;
    }
  }

  &-elements{
    width: 90%;
  }

  &-count-three {
    font-size: 24px;
    font-weight: 200;
    font-family: $font-base;
    padding-top: 36px;
    padding-bottom: 70px;
    @include mobile {
      padding-top: 16px;
      padding-bottom: 19px;
    }
  }

  &-header {
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    font-family: $font-base;
    padding-bottom: 40px;
    @include mobile {
      font-size: 30px;
      padding-bottom: 0;
    }
  }
}

.content-courier {
  display: flex;
  padding-top: 50px;
  @include mobile {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
}

.content-address {
  width: 100%;
  max-width: 392px;
  height: 311px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    font-size: 24px;
    font-family: $font-base;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 101px;
      @include mobile{
        padding-right: 10px;
      }
    }

    input {
      width: 100%;
      max-width: 256px;
      height: 40px;
      background: none;
      border: 1px solid black;
      font-size: 30px;
    }
  }
}


.content-term {
  width: 100%;
  max-width: 392px;
  height: 311px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 152px;

  @include mobile {
    padding-left: 0;
    padding-top: 30px;
  }

  &__header {
    font-size: 24px;
    font-family: $font-base;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 101px;
      @include mobile{
        padding-right: 10px;
      }
    }

    input {
      width: 100%;
      max-width: 256px;
      height: 40px;
      background: none;
      border: 1px solid black;
      font-size: 30px;
    }
  }

  &__textarea {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 113px;
      @include mobile{
        padding-right: 10px;
      }
    }

    textarea {
      resize: none;
      width: 256px;
      height: 120px;
      background: none;
      border: 1px solid black;
      font-size: 30px;
    }
  }
}

.content-term {

  &__header {
    font-size: 24px;
    font-family: $font-base;
  }
}

.btn-next {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  @include mobile {
    margin-top: 40px;
  }
}

.btn-prev {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 50px;
  @include mobile {
    margin-right: 0;
  }
}

.steps__form-buttons {
  @include mobile {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}















