@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";
@import "../../sass/settings/mixins";

.steps__warning {
  margin-top: -80px;
  width: 100%;
  height: 179px;
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;

    @include mobile{
      padding-left: 0;
      width: 90%;
    }


    h2 {
      font-size: 36px;
      font-family: $font-base;
      font-weight: 600;
      padding-bottom: 5px;
      @include mobile{
        font-size: 30px;
      }
    }

    p {
      font-size: 22px;
      font-family: $font-base;
      @include mobile{
        font-size: 15px;
      }
    }
  }
}

//--------------------------

.steps__form {
  width: 100%;
  height: 100%;
  //height: 800px;
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;
    background-image: url("../../assets/Background-Form.png");
    @include mobile{
      padding-left: 0;
      display: flex;
      align-items: center;
    }
  }

  &-count {
    font-size: 24px;
    font-weight: 200;
    font-family: $font-base;
    padding-top: 36px;
    padding-bottom: 70px;
  }

  &-header {
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    font-family: $font-base;
    padding-bottom: 40px;
    @include mobile{
      font-size: 30px;
    }
  }


  &-select {
    width: 100%;
    max-width: 300px;
    height: 49px;
    background: none;
    margin-bottom: 40px;

    option {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &-description {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-base;
    padding-bottom: 20px;
  }
  &-checkboxes{
    width: 100%;
    max-width: 691px;
    display: flex;
    flex-wrap: wrap;

  }
}

.checkbox-btn {
  cursor: pointer;
  display: flex;


  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span{
    margin-right: 24px;
    margin-bottom: 24px;
  }

  &-kids {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 55px;
    border: 1px solid;
  }

  &-mother {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 263px;
    height: 55px;
    border: 1px solid;
  }
  &-homeless {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 55px;
    border: 1px solid;
  }

  &-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 55px;
    border: 1px solid;
  }
  &-oldPeople {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 55px;
    border: 1px solid;
  }

  .active {
    background-color: $color-yellow;
  }
}
.input-text{
  width: 100%;
  max-width: 570px;
  height: 40px;
  font-size: 30px;
  background: none;
  border: 1px solid black;
}


.btn-next {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  @include mobile{
    margin-top: 40px;
  }
}

.btn-prev {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 50px;
  @include mobile{
    margin-right: 0;
  }

  &-buttons{
    @include mobile{
      width: 90%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}















