@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";

.steps__form {
  width: 100%;
  height: 883px;


  &-container-final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;
    background-image: url("../../assets/Background-Form.png");
  }
}


.steps__form-container-final{
  display: flex;
  justify-content: center;

  .steps-final{
    h1{
      font-size: 40px;
      font-family: $font-base;
      width: 100%;
      max-width: 691px;
      height: 122px;
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
      &::before{
        padding-top: 30px;
        content: url("../../assets/Decoration.svg");
      }
    }
  }
}














