@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";

.steps__warning {
  width: 100%;
  height: 179px;
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;

    h2 {
      font-size: 36px;
      font-family: $font-base;
      font-weight: 600;
      padding-bottom: 5px;
    }

    p {
      font-size: 22px;
      font-family: $font-base;
    }
  }
}

//--------------------------

.steps__form {
  width: 100%;
  height: 800px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;
    background-image: url("../../assets/Background-Form.png");
  }

  &-count {
    font-size: 24px;
    font-weight: 200;
    font-family: $font-base;
    padding-top: 36px;
    padding-bottom: 70px;
  }

  &-header {
    font-weight: 600;
    font-size: 36px;
    font-family: $font-base;
    padding-bottom: 10px;
  }


  &-select {
    width: 300px;
    height: 49px;
    background: none;
    margin-bottom: 40px;

    option {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &-description {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-base;
    padding-bottom: 20px;
  }

  &-checkboxes {
    max-width: 691px;
    display: flex;
    flex-wrap: wrap;

  }
}

.content-courier {
  display: flex;
  padding-top: 50px;
}

.content-address {
  width: 100%;
  max-width: 392px;
  height: 311px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    font-size: 24px;
    font-family: $font-base;
  }

  &__inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 101px;
    }

    input{
      width: 100%;
      max-width: 256px;
      height: 40px;
      background: none;
      border: 1px solid black;
      font-size: 30px;
    }
  }
}


.content-term {
  width: 100%;
  max-width: 392px;
  height: 311px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 152px;

  &__header {
    font-size: 24px;
    font-family: $font-base;
  }

  &__inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 101px;
    }

    input{
      width: 100%;
      max-width: 256px;
      height: 40px;
      background: none;
      border: 1px solid black;
      font-size: 30px;
    }
  }
  &__textarea{
    display: flex;
    justify-content: space-between;
    p{
      font-size: 24px;
      font-family: $font-base;
      font-weight: 200;
      width: 113px;
    }
    textarea{
      resize: none;
      width: 256px;
      height: 120px;
      background: none;
      border: 1px solid black;
      font-size: 30px;
    }
  }
}

.content-term {

  &__header {
    font-size: 24px;
    font-family: $font-base;
  }
}

.btn-next {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
}

.btn-prev {
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 50px;
}















