@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";
@import "../../sass/settings/mixins";

.final__form {
  width: 100%;
  height: 800px;
  margin-top: -110px;
}

.final__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1900px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 142px;
  background-image: url("../../assets/Background-Form.png");
  @include mobile {
    padding-left: 0;
    display: flex;
    align-items: center;
  }
}

  .steps-final {
    width: 90%;

    h1 {
      font-size: 40px;
      font-family: $font-base;
      width: 100%;
      max-width: 691px;
      height: 122px;
      text-align: center;
      display: flex;
      flex-direction: column-reverse;

      &::before {
        padding-top: 30px;
        content: url("../../assets/Decoration.svg");
      }
    }
  }















