@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";
@import "../../sass/settings/mixins";

.steps__warning {
  margin-top: -80px;
  width: 100%;
  height: 179px;
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;

    @include mobile{
      padding-left: 0;
      width: 90%;
    }


    h2 {
      font-size: 36px;
      font-family: $font-base;
      font-weight: 600;
      padding-bottom: 5px;
    }

    p {
      font-size: 22px;
      font-family: $font-base;
    }
  }
}

//--------------------------

.steps__form {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 142px;
    background-image: url("../../assets/Background-Form.png");
    @include mobile{
      padding-left: 0;
      display: flex;
      align-items: center;
    }
  }

  &-count {
    font-size: 24px;
    font-weight: 200;
    font-family: $font-base;
    padding-top: 36px;
    padding-bottom: 70px;
  }

  &-header {
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    font-family: $font-base;
    padding-bottom: 40px;
    @include mobile{
      font-size: 30px;
    }
  }
  &-select{
    width: 100%;
    max-width: 300px;
    height: 49px;
    background: none;

    option {
      background: rgba(0,0,0,0.1);
    }
  }
  &-label{
    font-size: 24px;
    font-family: $font-base;
  }

  &-buttons{
    @include mobile{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}



.checkbox{
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 42px;

  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span{
    width: 100%;
    height: 40px;
    max-width: 40px;
    border: 1px solid black;
    margin-right: 30px;
  }
  .active{
    background-color: $color-yellow;
  }
}

.btn-next{
  font-size: 24px;
  width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
}
.btn-prev{
  width: 100%;
  font-size: 24px;
  max-width: 180px;
  height: 79px;
  background: none;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 50px;
  @include mobile{
    margin-right: 0;
  }
}















