@import "../../sass/settings/colors";

.header {
  position: relative;
  display: flex;
  width: 100%;

  &__registration-btn {
    padding: 11px;
    border: 1px solid $color-yellow;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1900px;
    height: 963px;
    display: flex;
    justify-content: flex-end;
  }

  &__img {
    width: 50%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 107% 10%;
    }
  }

  &__start {
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    a {
      text-decoration: none;
      color: black;
    }

    .header__login {
      width: 100%;
      max-width: 196px;
      padding: 24px 52px 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: $color-gray;
      }
    }

    .header__navigation {
      width: 78%;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 52px;

      li {
        padding: 10px;

        &:hover {
          cursor: pointer;
          padding: 9px;
          border: 1px solid $color-gray;
        }
      }
    }
  }

  &__give-things {
    padding-top: 24%;
    padding-right: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72%;

    h1 {
      font-size: 38px;
      line-height: 49px;
      text-align: center;
      position: relative;

      &::after {
        position: relative;
        content: "";
        display: block;
        width: 256px;
        height: 30px;
        background-image: url("../../assets/Decoration.svg");
        color: black;
        background-repeat: no-repeat;
        margin: 0 auto;
        top: 18px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 80px;
  }

  &__btn {
    width: 310px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;
    border: 2px solid gray;
    background: none;

    a {
      color: gray;
    }
  }
}