@import "../../sass/settings/fonts";
.home__tree-column{
  width: 100%;
  height: 384px;
  display: flex;
  justify-content: space-around;
  background-image: url("../../assets/3 Columns Background.png");
}

.home__column{
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 334px;
  h2{
    font-size: 90px;
    font-family: $font-base;
    font-weight: 300;
    line-height: 100px;
  }
  h3{
    font-size: 18px;
    font-family: $font-base;
    font-weight: 400;
    line-height: 60px;
  }
  p{
    font-size: 16px;
    font-family: $font-base;
    font-weight: 400;
    line-height: 25px;
  }
}
