@import "../../sass/settings/colors";
@import "../../sass/settings/fonts";
@import "../../sass/settings/mixins";

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 81px;



  &__registration-btn {
    padding: 11px;
    border: 1px solid $color-yellow;
    @include mobile{
      border: none;
      padding: unset;
    }
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1900px;
    height: 963px;
    display: flex;
    justify-content: flex-end;
    @include mobile{
      height: 100%;
    }
  }

  &__img {
    width: 50%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 107% 10%;
    }
  }

  &__start {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .mobile-menubar{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    a {
      text-decoration: none;
      color: black;
    }

    .header__login {
      width: 100%;
      max-width: 196px;
      padding: 24px 52px 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile{
        width: 100%;
        max-width: none;
        padding: unset;
        display: flex;
        justify-content: normal;
        align-items: center;
      }

      a {
        color: $color-gray;
        @include mobile{
          border-bottom: 1px solid black;
          padding: 11px;
          margin-left: 20px;
          margin-top: 5px;
        }
      }
    }

    .header__email {
      max-width: 365px;
      @include mobile{
        max-width: none;
      }
    }

    .header__navigation {
      width: 100%;
      max-width: 552px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 52px;
      @include mobile{
        padding-right: unset;
        flex-direction: column;
        height: 65%;
        display: flex;
        justify-content: center;
      }

      li {

        &:hover {
          cursor: pointer;
          padding: 9px;
          border: 1px solid $color-gray;
          @include mobile{
            padding: unset;
            border: unset;
          }
        }
        @include mobile{

            border-bottom: 1px solid black;
            font-size: 30px;
            font-family: $font-base;
          color: $color-gray;
          padding: 15px;
          &:hover {
            border-bottom: 1px solid black;
            padding: 15px;
          }
        }
      }
    }
  }

}
@include mobile{
  .burgerOpen{
    height: 1003px;
  }
}

