@import "../sass/settings/colors";
@import "../sass/settings/fonts";


.about {
  width: 100%;
  margin: 0 auto;
  height: 935px;
  background-color: $color-light-gray;
  display: flex;

  .container {
    width: 100%;
    max-width: 1900px;
    height: 100%;
    min-height: 935px;
    display: flex;
    justify-content: center;
  }

  &__text {
    width: 50%;
    height: 100%;
    font-family: $font-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 960px) {
      width: 80%;
    }


    h3 {
      font-size: 38px;
      width: 100%;
      max-width: 120px;
      height: 67px;
      padding: 64px;


      &::after {
        content: url("../assets/Decoration.svg");
        display: flex;
        justify-content: center;
        padding: 22px;
      }
    }

    p {
      font-size: 30px;
      line-height: 54px;
      width: 100%;
      max-width: 656px;
      text-align: center;
      @media (max-width: 1416px) and (min-width: 960px) {
        width: 80%;
      }
    }
  }

  &__signature {
    display: flex;
    align-self: flex-end;
    padding-right: 89px;
    @media (max-width: 510px) {
      padding-right: unset;
    }
  }

  &__background {
    width: 50%;
    height: 100%;
    background-image: url("../assets/People.png");
    background-size: cover;
    background-position: -21px;
    @media (max-width: 960px) {
      display: none;
    }
  }
}