@import "../sass/settings/colors";
@import "../sass/settings/fonts";

.about {
  width: 100%;
  height: 935px;
  background-color: $color-light-gray;
  display: flex;

  &__text {
    width: 50%;
    height: 100%;
    font-family: $font-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 38px;
      width: 120px;
      height: 67px;
      padding: 64px;


      &::after{
        content: url("../assets/Decoration.svg");
        display: flex;
        justify-content: center;
        padding: 22px;
      }
    }

    p {
      font-size: 30px;
      line-height: 54px;
      width: 656px;
      height: 292px;
      text-align: center;
    }

    &::after{
      content: url("../assets/Signature.svg");
      position: relative;
      left: 221px;
      top: -34px;
    }
  }

  &__image {
    width: 50%;
    height: 100%;
  }
}