@import "../sass/settings/colors";
@import "../sass/settings/fonts";

.navigation {
  position: relative;
  display: flex;
  width: 100%;

  &__registration-btn {
    padding: 11px;
    border: 1px solid $color-yellow;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1900px;
    height: 963px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }


  &__start {
    width: 39%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 130px;
  }
}

.login {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  z-index: 99;
  h1 {
    font-size: 36px;
    font-family: $font-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;

    &::after {
      content: url("../assets/Decoration.svg");
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &__inputs {
    div{
      height: 30px;
    }
    height: 237px;
    width: 100%;
    max-width: 370px;
    background: $color-light-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
      font-family: $font-base;
    }

    input {
      width: 90%;
      padding-top: 5px;
      border: none;
      background: rgba(255, 255, 255, 0);
    }

    span {
      width: 90%;
      margin-top: 5px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: black;
    }

    .error{
      background-color: red;
    }
  }
  &__error-email{
    color: red;
    font-size: 13px;
    padding-top: 4px;
    display: block;
  }
  &__error-password{
    color: red;
    font-size: 13px;
    padding-top: 4px;
    display: block;
  }
}

.buttons {
  display: flex;
  width: 100%;
  max-width: 519px;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-self: center;
  padding-top: 60px;

  .btn-login {
    width: 130px;
    height: 50px;
    background: none;
    border: none;

    &:hover {
      border: 1px solid $color-gray;
    }
  }

  .btn-register {
    width: 130px;
    height: 50px;
    background: none;
    border: none;

    &:hover {
      border: 1px solid $color-gray;
    }
  }
}
