@import "../sass/settings/colors";
@import "../sass/settings/fonts";


.logging-out {
  display: flex;
  flex-direction: column;
  align-self: center;

  h1 {
    font-size: 36px;
    font-family: $font-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;
    width: 100%;
    max-width: 428px;
    text-align: center;

    &::after {
      content: url("../assets/Decoration.svg");
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
}

.btn {
  display: flex;
  width: 100%;
  max-width: 519px;
  align-self: center;
  justify-content: center;

  .btn-login {
    width: 130px;
    height: 50px;
    background: none;
    border: 1px solid $color-gray;
  }
}
