@import "../sass/settings/fonts";
@import "../sass/settings/colors";
@import "../sass/settings/mixins";
.steps{
  width: 100%;
  height: 624px;
  padding-top: 55px;

  @include mobile{
    height: 816px;
  }


  &__header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 38px;
    text-align: center;
    font-family: $font-base;

    &::after {
      position: relative;
      content: "";
      display: block;
      width: 256px;
      height: 30px;
      background-image: url("../assets/Decoration.svg");
      background-repeat: no-repeat;
      margin: 0 auto;
      top: 18px;
      padding-bottom: 33px;
    }
  }

  &__four{
    width: 100%;
    height: 325px;
    background-color: $color-light-gray;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile{
      height: 446px;
    }
    .container{
      width: 100%;
      max-width: 1416px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @include mobile{
        flex-wrap: wrap;
      }
    }
  }

  &__one{
    width: 100%;
    max-width: 128px;
    height: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-base;
    font-size: 16px;
    justify-content: flex-end;
@include mobile{
  width: 50%;
  max-width: 269px;
}

    p{
      text-align: center;
    }
    span{
      width: 62px;
      margin: 10px;
      height: 1px;
      background-color: black;
    }
  }

  .shirt{
      &::before{
        content: url("../assets/shirt-icon.png");
        padding-bottom: 8px;
      }
  }

  .bag{
    &::before {
      content: url("../assets/bag-Icon.png");
      padding-bottom: 8px;
    }
  }

  .magnifier{
    &::before{
      content: url("../assets/magnifier-Icon.png");
      padding-bottom: 8px;
    }
  }

  .movement{
    &::before{
      content: url("../assets/movement-Icon.png");
      padding-bottom: 8px;
    }
  }

  &__button{
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    a{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }
  &__btn{
    width: 100%;
    max-width: 310px;
    height: 120px;
    border: 1px solid black;
    font-size: 36px;
    background: none;
    font-weight: 300;
    color: $color-dark-brown;

    @include mobile{
      width: 80%;
      max-width: 300px;
      height: 70px;
      font-size: 20px;
      color: black;

    }
  }
}

