@import "../sass/settings/fonts";
@import "../sass/settings/colors";
@import "../sass/settings/mixins";

.fundations {
  width: 100%;
  height: 100%;
  min-height: 862px;
  display: flex;
  justify-content: center;
  color: $color-dark-brown;
  font-family: $font-base;

  &__container {
    width: 100%;
    max-width: 1344px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    padding-top: 40px;
    padding-bottom: 54px;
    font-size: 38px;
    color: $color-dark-brown;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: url("../assets/Decoration.svg");
      position: relative;
      top: 24px;
    }
  }

  nav {
    padding-bottom: 35px;
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: black;

    @media (max-width: 678px) {
      flex-direction: column;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: $color-dark-brown;
      font-size: 24px;
    }

    li {
      width: 100%;
      max-width: 208px;
      height: 79px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.5);
      }

      @media (max-width: 678px) {
        width: 80%;
        max-width: 193px;
        height: 50px;
        margin-bottom: 14px;
      }
    }

    .active {
      border: 1px solid black;
    }
  }

  p {
    width: 100%;
    max-width: 640px;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 58px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }

  .fundations__all {
    width: 95%;
    height: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 65px;
    @media (max-width: 1110px) {
      justify-content: unset;
      flex-direction: column;
    }

    &-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 1110px) {
        align-items: center;
      }
      li{
        text-align: center;
      }
      &-name {
        font-size: 26px;
        padding-bottom: 4px;
      }

      &-target {
        font-size: 18px;
      }
    }

    &-things {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 18px;
      text-align: center;
      @media (max-width: 1110px) {
        justify-content: center;
      }
    }

    & + ::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: black;
      position: absolute;
      top: -33px;

      &:nth-last-child::after {
        content: none;
      }
    }
  }
}


