@import "../sass/settings/fonts";
@import "../sass/settings/colors";

.fundations {
  width: 100%;
  height: 862px;
  display: flex;
  justify-content: center;
  color: $color-dark-brown;
  font-family: $font-base;

  &__container {
    max-width: 1344px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    padding-top: 70px;
    padding-bottom: 120px;
    font-size: 38px;
    color: $color-dark-brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
      content: url("../assets/Decoration.svg");
      position: relative;
      top: 44px;
    }
  }

  nav{
    width: 100%;
    padding-bottom: 69px;
  }
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: black;

    a{
      text-decoration: none;
      color: $color-dark-brown;
      font-size: 24px;
    }
    button{
      width: 208px;
      height: 79px;
      background: none;
      border: none;
      &:hover{
        border: 1px solid black;
      }
    }
  }

  p{
    width: 640px;
    height: 94px;
    padding-top: 30px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
}


