.pagination {
  display: flex;

  &__page-item{
    padding: 10px;
  }

  button{
    background: none;
    border: none;
    width: 40px;
    height: 50px;
    &:hover{
      border: 1px solid rgba(0,0,0,0.5);
    }
  }
  .active{
    border: 1px solid black;
  }
}

